<div class="content-wrapper">
  <div class="book-wrapper">

    <div class = "col-1">
      <img [src] = "bookCollection[index].image"/>
    </div>

    <div class = "col-2">  
      <div>
        <h2>Title:</h2>
        {{ bookCollection[index].title || 'No Title' }}
      </div>
        
      <div>
        <h2>Description:</h2>
        {{ bookCollection[index].descroption || 'No Description' }}
      </div>
  
      <div>
        <h2>Author:</h2>
        {{ bookCollection[index].author || 'No Author' }}
      </div>
  
      <div>
        <h2>Rating:</h2>
        {{ bookCollection[index].rating || 'No Rating' }}
      </div>

      <div class="rating-options">
        <button (click)="rateBook(1)" class="rating-btn">1</button>
        <button (click)="rateBook(2)" class="rating-btn">2</button>
        <button (click)="rateBook(3)" class="rating-btn">3</button>
        <button (click)="rateBook(4)" class="rating-btn">4</button>
        <button (click)="rateBook(5)" class="rating-btn">5</button>
      </div>

    </div>

    <div class = "col-3">
      <div class="book-data">
        <input (input)="processInputTitle($event)" type="text" placeholder="Book Title">
        <input (input)="processInputDesc($event)" type="text" placeholder="Book Description">
        <input (input)="processInputAuthor($event)" type="text" placeholder="Book Author">
      </div>
      
    </div>
  </div>
</div>
